<template name="newContact">
  {{#ionView}}
  <div class="bar bar-header bar-positive">
    <button class="button button-icon icon ion-arrow-left-c"></button>
    <h1 class="title">Add a new contact</h1>
    <!-- <button class="button button-icon icon ion-checkmark"></button> -->
  </div>

  {{#ionContent class="has-header"}}

  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="First name" id="firstName">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Last name" id="lastName">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Phone number" id="phoneNumber">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Email" id="email">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Gender" id="gender">
    </label>
  </div> <!--END LIST DIV-->
  {{/ionContent}}
  <div class="bar bar-footer bar-positive">
    <button id="cancelBTN" class="button button-icon icon ion-close"></button>
    <!-- <h1 class="title">Footer</h1> -->
    <button id="addBTN" class="button button-icon ion-person-add">  Create contact </button>
  </div>
  {{/ionView}}
</template>
